.formGroup {
  position: relative;
}

.formGroup button {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formGroup button:hover {
  background-color: transparent;
}

.formGroup button svg:hover {
  color: green;
}

.search {
  margin: 15px;
}

.search input {
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 4px;
}

.search label {
  color: rgb(36, 36, 36) !important;
  background-color: white;
  width: 40% !important;
}
